{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

<script src="src/models/iptables/home.js"></script>

{% block content %}

<h2>Actualité musique</h2>

<table id="myTab" class="table table-striped">
    <thead>
      <tr class="Header">
        <th onclick="sortTable(0)">ID</th>
        <th onclick="sortTable(1)">Titre</th>
        <th onclick="sortTable(1)">Genre</th>
      </tr>
    </thead>
    <tbody>
    {% for row in items %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.Titre }}</td>
            <td>{{ row.Genre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

